{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'story8.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'story8.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <h1 class ="title"><b>Book List</b></h1>
            <form class="form-inline md-form mr-auto mb-4 keyword">
                <input id= "keyword" class="form-control mr-sm-2" type="text" placeholder="masukkan judul buku">
            </form>
            <br>
            <div class="content" s>
                <table id="demo" class="table table-borderless table-light">
                    <thead style="background-color: salmon;">
                        <tr>
                            <th scope="col" class="align-middle">no.</th>
                            <th scope="col" class="align-middle">book</th>
                            <th scope="col" class="align-middle">title</th>
                            <th scope="col" class="align-middle">author</th>
                            <th scope="col" class="align-middle">publisher</th>
                            <th scope="col" class="align-middle">published date</th>
                        </tr>
                    </thead>
                    <tbody id="content"></tbody>
                </table>
            </div>
        </div>
    </body>
</html>