body {
  background-color: beige;
  font-family: "Cambria", sans-serif;
}

.wrapper {
  max-width: 50%;
  width: 100%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
}

.wrapper .title {
  margin-bottom: 25px;
  background: salmon;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border-radius: 2px;
  font-weight: 700;
}

.wrapper .accordion_item {
  margin-bottom: 25px;
  box-shadow: 0 0 5px rgba(225, 225, 225, 0.5);
}

.wrapper .accordion_item .accordion_tab {
  background: white;
  padding: 20px;
  color: black;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.wrapper .accordion_item .accordion_tab.active {
  color: #fff;
  background: salmon;
}

.wrapper .accordion_item .accordion_tab .arrow1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: salmon;
}

.wrapper .accordion_item .accordion_tab .arrow1 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
}

.wrapper .accordion_item .accordion_tab .arrow2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: salmon;
  margin-right: 30px;
}

.wrapper .accordion_item .accordion_tab .arrow2 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
}

.wrapper .accordion_item .accordion_content {
  background: whitesmoke;
  display: none;
  transition: all 0.3s ease;
}

.wrapper .accordion_item .accordion_content p {
  font-size: 14px;
  line-height: 22px;
  padding: 20px;
  color: palevioletred;
}

.wrapper .accordion_item .accordion_tab.active + .accordion_content {
  display: block;
  transition: all 0.3s ease;
}
