{% extends "navbar.html" %}

{% block title %}detail mata kuliah{% endblock %}

{% block content %}
  <div class="title-top">
    <div class="center" align="center">
      <h1 class="title" style="color: chocolate; font-family: Cambira;">here is your matkul!</h1>
      <h2 class="title" style="color: chocolate; font-family: Cambira;">- {{ DaftarMatkul.MataKuliah }} -</h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md">
        <table class="table table-striped" align="center">
          <tr align="center">
            <th>mata kuliah</th>
            <td>{{ DaftarMatkul.MataKuliah }}</td>
          </tr>
          <tr align="center">
            <th>jumlah sks</th>
            <td>{{ DaftarMatkul.JumlahSKS }}</td>
          </tr>
          <tr align="center">
            <th>nama dosen</th>
            <td>{{ DaftarMatkul.Dosen }}</td>
          </tr>
          <tr align="center">
            <th>semester</th>
            <td>{{ DaftarMatkul.Semester }}</td>
          </tr>
          <tr align="center">
            <th>ruangan</th>
            <td>{{ DaftarMatkul.Ruangan }}</td>
          </tr>
          <tr align="center">
            <th>deskripsi</th>
            <td>{{ DaftarMatkul.Deskripsi }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

{% endblock %}