{% extends "navbar.html" %}

{% block title %}nambah mata kuliah{% endblock %}

{% block content %}
    <div class="title-top">
        <div class="center" align="center">
            <h1 class="title" style="color: chocolate; font-family: Cambira;">ayo pilih matkul</h1>
    </div>

    <div class="content container">
        {% if result == 1  %}
        <h5 style="color: red;" align=center><b>YEY! mata kuliah berhasil ditambahkan!</b></h5>
        
        {% elif result == 0  %}
        <h5 style="color: red;" align=center><b>Yah, mata kuliah gagal ditambahkan :(</b></h5>

        {% endif %}
        <br>
        <div class="row">
            <div class="col-md">
                <form method="POST" action="." novalidate>
                    {% csrf_token %}
                    <table class="table table-hover">
                        {{ forms.as_table }}
                        <tr>
                            <td class="center-content" colspan="2">
                                <button type="submit" class="btn btn-warning" style="align-self: center;">submit!!</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>    

{% endblock %}