{% extends "navbar.html" %}

{% block title %}detail mata kuliah{% endblock %}

{% block content %}
<div class="title-top2">
    <div class="center" align="center">
        <h1 class="title" style="margin-top: 5%; color: chocolate; font-family: Cambira;">ini daftar matkul kamu!</h1>
    </div>
</div>
<div class="content container">
    <div class="row">
        <div class="col-md">
            <table class="table table-striped" align="center">
                <thead>
                    <tr align="center">
                        <th scope="col">Mata Kuliah</th>
                        <th scope="col">Nama Dosen</th>
                        <th scope="col">Jumlah SKS</th>
                        <th scope="col">Semester</th>
                        <th scope="col">Ruang Kelas</th>
                        <th scope="col">Deskripsi</th>
                        <th scope="col">Hapus</th>
                    </tr>
                </thead>
                <tbody>
                    {% csrf_token %}
                    {% for i in DaftarMatkul %}
                    <tr align="center">
                        <td><a href="/matkul/{{ i.id }}">{{ i.MataKuliah }}</a></td>
                        <td>{{ i.Dosen }}</td>
                        <td>{{ i.JumlahSKS }}</td>
                        <td>{{ i.Semester }}</td>
                        <td>{{ i.Ruangan }}</td>
                        <td>{{ i.Deskripsi }}</td>
                        <td><form method="POST" action="/matkul/delete/{{ i.id }}/">
                            {% csrf_token %}
                            <input name="id" value ="{{ i.id }}" type="hidden">
                            <button type="submit" value="Submit" class="btn btn-warning"
                                style="font-size: 12px;">delete</button>
                        </form></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}