{% extends "navbar.html" %}

{% block title %}add activity{% endblock %}

{% block content %}
<div class="flex flex-col">
    <div class="title-top">
        <div class="center" align="center">
            <h1 class="title" style="color: chocolate; font-family: Cambria; margin-top: 5%;"> add your activity here</h1>
    </div>
    <div class="container" style="display: flex; justify-content: center; align-items: center;">
        <div class="flex">
            <div class=" text-black">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="text-sm">
                            {{form.namaKegiatan.label_tag}}
                        </div>
                        {{form.namaKegiatan}}
                    </div>
                    <div class="form-group">
                        <div class="text-sm">
                            {{form.desKegiatan.label_tag}}

                        </div>
                        {{form.desKegiatan}}
                    </div>

                    <a href="#">
                        <button type="submit" value="Submit" class="btn btn-warning" style="font-size: 12px;">save!</button>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}