{% extends "navbar.html" %}

{% block title %}list activity{% endblock %}

{% block content %}
<section class="container-fluid" style="background-color: burlywood;">
    <div class="row w-100 justify-content-center">
        {% for x in kegiatan %}
        <div class="col-4 m-4 p-4 rounded border">
            <ul class="list-group">
                <li class="list-group-item list-group-item-secondary"><b> {{ x.namaKegiatan }} </b> </li>
                {% for i in x.peserta %}
                <p style="align-items: center;">{{ i.namaUser }}</p>
                {% endfor %}
            </ul>
            <div style="font-size: .75em;" class="section-title mx-auto text-center my-3">
                <a href="{%url 'register' task_id=x.pk%}">
                    <button class="btn btn-warning"> yuk ikutan </button>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}