{% extends 'navbar.html' %}

{% block title %}register{% endblock %}

{% block content %}

<div class="container" style="display: flex; justify-content: center; align-items: center;">
    <div class="flex-column">
        <div style="font-family: Cambria; text-decoration-color: chocolate;" class="text-4xl my-4">
            <h1>ayo ikutan!</h1>
        </div>
        <div style="font-family: Cambira;">

            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div>
                        {{form.namaUser.label_tag}}
                    </div>
                    {{form.namaUser}}
                </div>
                <a href="">
                    <button type="submit" class="btn btn-warning">ikut deh!</button>
                </a>
            </form>
        </div>

    </div>
</div>
{% endblock content %}
