{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>accordion-summary</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/story7.css' %}">
    </head>
    <body>
        <div class="wrapper">	
            <div class="title">my profile summary</div>
            <div class="accordion_wrapper">	
                <div class="accordion_item">
                    <div class="accordion_tab">about
                        <div class="arrow2">
                            <button onclick="upNdown('up');"><img src="{% static 'up.png' %}" alt="arrow"></button>
                        </div>
                        <div class="arrow1">
                            <button onclick="upNdown('down');"><img src="{% static 'down.png' %}" alt="arrow"></button>
                        </div>
                    </div>
                    <div class="accordion_content">
                        <p>hai! i'm vioren!</p>
                    </div>
                </div>
                <div class="accordion_item">
                    <div class="accordion_tab">skills
                        <div class="arrow2">
                            <button onclick="upNdown('up');"><img src="{% static 'up.png' %}" alt="arrow"></button>
                        </div>
                        <div class="arrow1">
                            <button onclick="upNdown('down');"><img src="{% static 'down.png' %}" alt="arrow"></button>
                        </div>
                    </div>
                    <div class="accordion_content">
                        <p>painting & decorating</p>
                        <p>communication & public speaking</p>
                        <p>multitasking</p>
                        <p>analytical thinking</p>
                    </div>
                </div>
                <div class="accordion_item">
                    <div class="accordion_tab">experiences
                        <div class="arrow2">
                            <button onclick="upNdown('up');"><img src="{% static 'up.png' %}" alt="arrow"></button>
                        </div>
                        <div class="arrow1">
                            <button onclick="upNdown('down');"><img src="{% static 'down.png' %}" alt="arrow"></button>
                        </div>
                    </div>
                    <div class="accordion_content">
                        <p>staff public relations OH Fasilkom</p>
                        <p>staff equipment PERAK</p>
                        <p>HRD software engineering CF</p>
                        <p>treasurer wisuda genap</p>
                    </div>
                </div>
                <div class="accordion_item">
                    <div class="accordion_tab">awards
                        <div class="arrow2">
                            <button onclick="upNdown('up');"><img src="{% static 'up.png' %}" alt="arrow"></button>
                        </div>
                        <div class="arrow1">
                            <button onclick="upNdown('down');"><img src="{% static 'down.png' %}" alt="arrow"></button>
                        </div>
                    </div>
                    <div class="accordion_content">
                        <p>warning! currently searching for some awards :))</p>
                    </div>
                </div>
                <div class="accordion_item">
                    <div class="accordion_tab">hobbies
                        <div class="arrow2">
                            <button onclick="upNdown('up');"><img src="{% static 'up.png' %}" alt="arrow"></button>
                        </div>
                        <div class="arrow1">
                            <button onclick="upNdown('down');"><img src="{% static 'down.png' %}" alt="arrow"></button>
                        </div>
                    </div>
                    <div class="accordion_content">
                        <p>i love doing nothing</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'js/story7.js' %}"></script>
    </body>
</html>