body {
  margin-top: 2%;
  background: #ffbdbd;
  color: maroon;
}

.title {
  font-family: Cambria;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyword {
  display: flex;
  text-align: right;
  align-items: center;
  justify-content: right;
  float: right;
}

.data {
  margin-top: 5%;
  align-items: center;
  justify-content: center;
  display: flex;
}
