body {
  height: 100%;
  color: midnightblue;
  background-color: rgb(255, 204, 255);
}

#index .title {
  font-weight: bold;
  font-size: 50px;
  line-height: 74px;
  letter-spacing: 0.15em;
  padding: 10px;
  padding-bottom: 20px;
  font-family: Cambria;
}

section#index {
  font-family: Cambria;
  background-color: #bce5ff;
  justify-content: center;
  text-align: center;
}

section#style1 {
  justify-content: center;
  text-align: center;
  font-family: Cambria;
}

.font {
  font-family: Cambria;
  font-weight: bold;
  font-size: 40px;
}
