{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Story 9</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'story9.css' %}">
    </head>
    <body>
        <br>
        <br>
        <br>
        <section id="index">
            {% if user.is_authenticated %}
            <div class="title"> Hello, {{ user.username }}! <br> How are you today?</div>
            <div> {{ user.profile.bio }} </div>
            <br>
            <div>
                <a href="/story9/logout" class="up btn btn btn-warning" name="logout">log out</a>
            </div>
            <br>
            <br>
            {% else %}
            <div class="title"> Helo There! </div>
            <div class=""> don't have an account? sign up here </div>
            <br>
            <div> <a href="/story9/signup" class="up btn btn-warning" name="signup">sign up</a> </div>
            <br>
            <div class=""> already have an account? log in here </div>
            <br>
            <div> <a href="/story9/login" class="up btn btn-warning" name="login">log in</a> </div>
            <br>
            <br>
        {% endif %}
        </section>
    </body>
</html>
