<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body {background-color: antiquewhite;}
        #wrapp {background: beige; height: 40%; width: 50%; margin-right: 25%; font-family: Cambria; font-size: 16;}
        #header {height:120px; width: 100%; background-color: #668284; margin-bottom: 20px;}
        #wrap {background: khaki; height: 480px; width: 900px; margin: auto;}
        #footer {height:100px; width: 100%; background-color: #668284; margin-bottom: 20px;}
    </style>
    <title>{% block title %}ini profile vividoran{% endblock %}</title>
</head>

<body>
    <div id="content">
        <nav class="navbar navbar-expand-lg sticky-top navbar-light">
            <a class="navbar-brand font1" href="/"><b>VIVIIDORAN</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav font1">
                    <li class="nav-item">
                        <a class="nav-link" href="/story1/"><b>home</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/story1-photos/"><b>photos</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/story1-poetry/"><b>poetry</b></a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </div>
</body>
</html>