{% extends "base.html" %}

{% block content %}
        <h1 style="color: maroon; font-family: Verdana"><center><b>HI! ARE YOU CURIOUS ABOUT ME?<b></b></center></h1><br>
        <div id="header">
            <h2 style="color: whitesmoke; font-family: Tahoma; size: 16;"><center>Vioren Paramitta Adithana</center></h2>                <h3 style="color: whitesmoke; font-family: Tahoma; size: 16;"><center>1906353435</center></h3>
            <h4 style="color: whitesmoke; font-family: Tahoma; size: 16;"><center>vioren.paramitta@ui.ac.id</center></h4>
        </div>
        <div id="wrap">
            <br><br><br>
            <img src="../static/TH52.jpg" align="left" height="300">
            <img src="../static/vividoran.jpg" align="right" height="300">
            <div style="text-align: justify; font-family: Cambria; size: 16; margin-left: 250px; margin-right: 250px;">
                <p>Hi! I'm Vioren Paramitta Adithana, but you can call me Vioren. I am a third-semester (class of 2019) 
                    Information System student in Fasilkom UI who has experienced attending an all-girls high school, SMA Tarakanita 1.
                </p>
                <p>Painting or writing poetry is something that gives me comfort and joy, helps me relax. So,
                    I can conclude that my hobbies are painting and writing poetry, at the end of this page, 
                    you can click the link so you can see a few examples of my work. Also, you visit my Instagram @viorenparamitta 
                    and click the link on my bio for more poetry, but  for now, I rarely upload my poetry to the blog 
                    because of a hectic day.
                </p>
                <p>One more thing I wanna say, HAVE A GOOD DAY!</p>
            </div>
        </div>
{% endblock %}