{% extends "base.html" %}

{% block content %}
    <div style="margin-left: 35%;">
        <img src="../static/2.jpg" align="center" width="400"><br><br><br>
        <img src="../static/6.jpg" align="center" width="400"><br><br><br>
        <img src="../static/3.jpg" align="center" width="400"><br><br><br>
        <img src="../static/1.jpg" align="center" width="400"><br><br><br>
        <img src="../static/5.jpg" align="center" width="400"><br><br><br>
        <img src="../static/4.JPG" align="center" width="400"><br><br><br>
    </div>
{% endblock %}