{% extends "base.html" %}

{% block content %}
        <div id="wrapp" style="margin-left: 25%; margin-bottom: 100px;">
            <h4>A LETTER FOR REALISTIC BOY</h4>
            <p> If someone asks me, “please, tell me about love”<br>
                Love is an irony, but<br>
                I would tell them about the sky at 2 am<br>
                I would tell them about the eyes, how they blink, how they shine<br>
                I would tell them about sun who shines, and sunflower adores it<br>
                I would tell them about the sea, both rough and calm<br>
                I would tell them about rain, petrichor<br>
                Love, all rights, all wrong, at the same time<br>
                Oh! Maybe about you and our late night conversations<br>
                About you, your deep eyes, your smile, your laugh<br>
                About you, that makes me fly and drown at the same time<br>
                I would tell them about you when you look at me and told me that you love me<br><br>
                I wish.
            </p>
        </div>
        <div id="wrapp" style="margin-left: 25%;">
            <h4>RENJANA</h4>
            <p>Kau adalah diksi yang memasung sukma<br>
                Terkandung dalam puisi tak berima<br>
                Rupa jelita dengan pancarona<br>
                Baswara indah bagai arunika<br>
                Dan aku--hanyalah nirleka yang buta aksara<br><br>
                
                Biarlah aku menjadi debu<br>
                Dan kau melanjut takdir<br>
                Menjadi senandika<br>
                Bersamaan dengan absenku<br>
                Tak akan ku membangun asa<br>
                Karena kita hanyalah lengkara<br>
            </p>
        </div>
        <p></p><br>
{% endblock %}